.header{
    padding: 40px 0;

    & .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .header_language-select-element{
            border: none;
            outline: none;
        }
    }
}