*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$brendColor: #ffedbb;

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

